.container {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    scroll-behavior: smooth;
    height: 100%;
  }

  .header-row {
    background-color: rgb(9, 2, 2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 100;
  }

  .header-row .box {
    padding: 10px;
  }

  .header-row li {
    display: inline;
    padding: 5px;
    font-size: larger;
  }

  .header-row a {
    text-decoration: none;
  }

  .header-row a:hover {
    text-decoration: underline;
  }

  .row {
    padding: 100px;
    height: 75%;
    background-color: rgb(18, 93, 155);
  }

  .row .box {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 15px;
  }
  .r{
    padding:100px;
    height:75%;
    background-color: white;
  }

  .footer {
    padding: 20px;
    margin: 0px;
    background-color: black;
    color: white;
    font-size: large;
  }

  button {
    background-color: #1fd0e4;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e6b800;
  }
  
  img {
    max-height: 200px;
    width: auto;
}
/* .img2{
height: 400px;
width: 400px;
} */


